@charset "UTF-8";



/*--INDEX--*/
#index-key-visual{background-size:cover;background-position:center;background-image:url(../images/visual-top.jpg); margin-top:20px; color:#018ea0;}
#index-key-visual .content{position: relative; min-height:350px}

#index-key-visual .content .shadow{text-shadow:#FFF 2px 0px 2px, #FFF -2px 0px 2px,
    #FFF 0px -2px 2px, #FFF -2px 0px 2px,
    #FFF 2px 2px 2px, #FFF -2px 2px 2px,
    #FFF 2px -2px 2px, #FFF -2px -2px 2px,
    #FFF 1px 2px 2px, #FFF -1px 2px 2px,
    #FFF 1px -2px 2px, #FFF -1px -2px 2px,
    #FFF 2px 1px 2px, #FFF -2px 1px 2px,
    #FFF 2px -1px 2px, #FFF -2px -1px 2px,
    #FFF 1px 1px 2px, #FFF -1px 1px 2px,
    #FFF 1px -1px 2px, #FFF -1px -1px 2px;}
#key-visual-content{position:absolute;top:50%;transform:translateY(-50%);left:50%;margin-left:-50%;width:100%;text-align:center; width:100%}
#key-visual-content h1{font-size:36px}
#key-visual-content p{padding-top:20px; font-size:18px}

.pulldown_menu{width:300px; float:left; margin-right:20px}
.pulldown_menu:last-child{margin-right:0}
.menu_box{position:relative; padding:15px; min-height:350px; margin-top:80px}
.menu_box h2{margin-top:-45px; margin-right:-15px; text-align:right; font-size:18px}
.menu_box img{margin-top:-100px}
.menu_lists{width:100%}
.menu_lists div{display:block; text-align:center; background:#FFF; margin-top:10px; padding:5px; font-size:20px; border-radius:10px; box-shadow: 0 3px 3px rgba(0,0,0,.3); background-repeat:no-repeat; background-size:30px; background-position:10px center}
.menu_lists div:hover{cursor:pointer}
.menu_box.unit div{background-image:url(../images/menu_tg_unit.png)} .menu_box.unit div.active{background-image:url(../images/menu_tgu_unit.png);color:#60ba4e}
.menu_box.atch div{background-image:url(../images/menu_tg_atch.png)} .menu_box.atch div.active{background-image:url(../images/menu_tgu_atch.png);color:#f5b32b}
.menu_box.lift div{background-image:url(../images/menu_tg_lift.png)} .menu_box.lift div.active{background-image:url(../images/menu_tgu_lift.png);color:#4ecac9}
.menu_box.unit .show_menu_links:hover, .menu_box.unit a:hover{color:#60ba4e}
.menu_box.atch .show_menu_links:hover, .menu_box.atch a:hover{color:#f5b32b}
.menu_box.lift .show_menu_links:hover, .menu_box.lift a:hover{color:#4ecac9}
.menu_links{display:none; margin:3px 10px 0 10px; background:#FFF; border-bottom-left-radius:10px; border-bottom-right-radius:10px; box-shadow: 0 3px 3px rgba(0,0,0,.3)}
.menu_links li{padding:5px 10px; border-bottom:1px solid #CCC}.menu_links li:last-child{border:none}
.menu_links li a{display:block}

/*--PRODUCTS--*/
.search-selection div{margin:10px 0}
.search-selection span{display:inline-block;width:35%; color:#FFF; font-size:16px}
#search-box .content{padding:20px 0}
#search-hits{display:block; text-align:center}
#search-hits span{font-size:36px; color:red}

#key-visual{min-height:530px;position:relative}
#key-visual:before {background-size:cover;background-position:center;top:0;left:50%;width:50%;height:100%;content:'';position: absolute}
#key-visual.unit{background:#528040}
#key-visual.atch{background:#a57e34}
#key-visual.lift{background:#036}
#key-visual.unit:before{background-image:url(../images/visual-unit.jpg)}
#key-visual.atch:before{background-image:url(../images/visual-atch.jpg)}
#key-visual.lift:before{background-image:url(../images/visual-lift.jpg)}
#key-visual h1, #key-visual p{color:#FFF}

.key-visual-text{width:50%; padding:0 20px 0 0}

#recommend h2{font-size:30px; padding-bottom:10px; color:#FFF}

#products-list{}
.products{width:20%}
.products a{margin:10px; display:block; background:#FFF}
.products a:hover{text-decoration:none}
.product_list_title{padding:5px; background:#8c8b8b;min-height:50px}
.product_list_catch{font-size:12px; color:#FFF; line-height:1.25em}
.product_list_img{vertical-align:bottom; width:100%}
.product_list_detail{padding:10px}
.product_list_name{line-height:1.25em; margin-bottom:10px; min-height:40px}
.product_list_info{font-size:12px}
.product_list_info_sub{width:40%}
.product_list_info_data{width:60%}
.product_list_info_unit{width:20%}
.product_list_info_price{width:80%;font-size:17px; color:red; line-height:1.5em}
.product_list_info_price .yen{font-size:12px; color:#464646; padding-left:2px}

/*--EVENTS--*/
#event{padding-bottom: 30px; margin: 20px 0 10px; box-shadow: 0 3px 10px #dedede;}
#event .content{}
#event h1{font-size:30px; padding-bottom:10px}
.event{padding:10px; background:#FFF; margin:10px 0}
.event p.desc{padding:0 0 5px; border-bottom: 2px dotted; margin-bottom:15px}
.event_data{margin:0 0 10px}
.event_data dl{width:100%; padding:0 10px;align-self:flex-start}
.event_data dt{display:block;width:30%;clear:left;float:left;text-align:center; font-size:0.8em; font-weight:bold;margin-bottom:10px; line-height:31px}
.event_data dd{display:block;width:70%;float:left;padding:0 10px; border-bottom-width:1px; border-bottom-style:solid; margin-bottom:10px; line-height:30px}
.event_data dd a{text-decoration:underline}
.event_unit .event_data_title{background:#60ba4e; color:#FFF}
.event_unit .event_data_content{border-bottom-color:#60ba4e}
.event_unit .event_title{color:#60ba4e}
.event_unit p.desc, .event_unit .event_data{border-color:#60ba4e}
.event_atch .event_data_title{background:#f5b32b; color:#FFF}
.event_atch .event_data_content{border-bottom-color:#f5b32b}
.event_atch .event_title{color:#f5b32b}
.event_atch p.desc, .event_atch .event_data{border-color:#f5b32b}
.event_lift .event_data_title{background:#4ecac9; color:#FFF}
.event_lift .event_data_content{border-bottom-color:#4ecac9}
.event_lift .event_title{color:#4ecac9}
.event_lift p.desc, .event_lift .event_data{border-color:#4ecac9}


/*--Miscellaneous PAGE--*/
#misc{background:#FFF}
#misc .content{padding:30px 10px}
#misc h1{font-size:30px}
#misc h2, #misc h3{margin:20px 0;border-bottom-width:2px;border-bottom-style:dotted;padding-bottom: 5px}
#misc p{padding:10px}

#misc-border{border-bottom-width:3px; border-bottom-style:solid}

.unit_detail ol li:after, .unit_detail ol li a{background-color:#60ba4e} .unit_detail ol li span.title, .unit_detail ul.links li a{color:#60ba4e}
.atch_detail ol li:after, .atch_detail ol li a{background-color:#f5b32b} .atch_detail ol li span.title, .atch_detail ul.links li a{color:#f5b32b}
.lift_detail ol li:after, .lift_detail ol li a{background-color:#4ecac9} .lift_detail ol li span.title, .lift_detail ul.links li a{color:#4ecac9}

#misc ol > li{list-style-type:none;position:relative;padding-left:4em;padding-bottom:1em}
#misc ol.number_list > li{counter-increment:list;}
#misc ol.number_list > li:after{content: counter(list);position: absolute;left:0;top:0;width:2.5em;line-height:2.5em;text-align:center;color:#FFF;font-weight:bold;font-size:18px;border-radius:0}
#misc ol.faq > li:before{clear:left}
#misc ol.faq > li:after{content:'Q';position: absolute;left:0;top:0;width:2.5em;line-height:2.5em;text-align:center;color:#FFF;font-weight:bold;font-size:18px;border-radius:0}
#misc ol.misc_num_list li{counter-increment:list}
#misc ol.misc_num_list li:after{content: counter(list)'.';position: absolute;left:25px;top:0}
#misc ol > li span.title{display:block;font-size:18px;line-height:2.5em}
#misc ol > li span.misc{display:block;margin-top:5px}
#misc ol > li a{color:#FFF; padding:5px 10px; display:table; margin-top:10px; border-radius:20px}
#misc ul > li{list-style-type:circle;position:relative;margin-left:2em}
#misc .install{text-align:center}

#misc ul.faq_detail > li{padding:5px 0}
#misc ul.faq_detail > li > ul{margin-top:10px}
#misc ul.faq_detail > li > ul li{padding:3px 0; list-style:square}

table.faq {border:1px solid #CCC; border-collapse:collapse; width:100%; margin-bottom:20px}
table.faq td{border:1px solid #CCC; vertical-align:top; padding:10px}
table.faq td.symptom{vertical-align:middle; color:#FFF; font-weight:bold; width:24%}
table.faq td.question {font-weight:bold; width:38%}





/*--PRODUCT DETAIL--*/
#product-detail{background:#FFF}
#product-detail .content{padding:20px 10px}
#product-detail .content.content_s{padding:10px}
#icons{float:right}
#product-border{border-bottom-width:3px; border-bottom-style:solid}

.unit_detail .txt{color:#60ba4e} .unit_detail .box{background:#60ba4e; color:#FFF} .unit_detail .border{border-color:#60ba4e}
.atch_detail .txt{color:#f5b32b} .atch_detail .box{background:#f5b32b; color:#FFF} .atch_detail .border{border-color:#f5b32b}
.lift_detail .txt{color:#4ecac9} .lift_detail .box{background:#4ecac9; color:#FFF} .lift_detail .border{border-color:#4ecac9}
.srsi_detail .txt{color:#018ea0} .srsi_detail .box{background:#018ea0; color:#FFF} .srsi_detail .border{border-color:#018ea0}

#product-image-box{width:48%; margin-right:2%; float:left}
#product-image-box img{display:block; margin:0 auto}
#product-data{width:48%; margin-left:2%; float:right}
#product-image-caption{margin:10px; border:1px solid #F1F1F1; padding:10px}
#produt-thumbnails div{float:left; width:12.5%; margin-bottom:10px}
#produt-thumbnails div a{width:90%; display:block; border:1px solid #CCC; margin:0 auto}
#produt-thumbnails div a.active{border-color:red}
#produt-thumbnails div a img{vertical-align:bottom}

.product_detail_price{width:48%; margin-right:2%; align-self:flex-start;}
.product_detail_data{width:50%; align-self:flex-start;}
#product-data .product_detail_price,
#product-data .product_detail_data{width:100%}
.product_detail_price_box, #product_detail_contact_box{padding:20px; border-width:10px; border-style:solid}
.product_detail_price .title{display:block}
.product_detail_price .price{display:block; float:right}
.product_detail_price .num{font-size:38px;color:red;margin-right:10px}
.product_detail_price .misc{display:block;padding: 10px}
.product_detail_data dl{width:100%; margin:0 5px;align-self:flex-start}
.product_detail_data dt{display:block;width:35%;clear:left;float:left;text-align:center; margin-right:5%; font-size:0.8em; font-weight:bold; padding:5px 0; margin-bottom:10px}
.product_detail_data dd{display:block;width:55%;float:left; line-height:125%; padding:5px 0; margin-right:5%; margin-bottom:10px}
.product_detail_data dd.w100{width:100%}
.product_detail_data dd.tel{padding:0;margin-top:-5px}.product_detail_data dd.tel a{color:red}
#product-detail h3{margin:0;border-bottom-width:2px;border-bottom-style:dotted;padding-bottom: 5px}
.youtube{text-align:center;margin-top:20px}
.panorama{margin-top:20px}

/*--OFFICE--*/
#map{background-image:url(../images/map.gif); background-size:contain; background-repeat:no-repeat; background-position:center; height:500px; position:relative}
.map_links{position:absolute;border:1px solid #CCC; width:auto; background:#FFF}
a.area_name{padding:5px 10px; display:block; color:#FFF}
.pref_box{padding:5px 10px; word-wrap:break-word} .pref_box a, .pref_box span{margin-right:5px; text-decoration:underline; word-break:keep-all}.pref_box span{color:#CCC; text-decoration:none}
#touhoku{top:150px; right:0} #touhoku .area_name, #touhoku-list .area_name{background:#51bdbd} #touhoku-list-title{color:#51bdbd}
#kanto{top:300px; right:0}#kanto .area_name, #kanto-list .area_name{background:#5eb14e} #kanto-list-title{color:#5eb14e}
#hokuriku{top:90px; left:290px; width:auto}#hokuriku .area_name, #hokuriku-list .area_name{background:#5b4884} #hokuriku-list-title{color:#5b4884}
#tokai{bottom:20px; right:180px; width:auto}#tokai .area_name, #tokai-list .area_name{background:#b9c048} #tokai-list-title{color:#b9c048}
#kinki{top:165px; left:250px;}#kinki .area_name, #kinki-list .area_name{background:#ebad32} #kinki-list-title{color:#ebad32}
#chugoku{bottom:0; left:200px; width:auto}#chugoku .area_name, #chugoku-list .area_name{background:#ec8941} #chugoku-list-title{color:#ec8941}
#kyusyu{bottom:120px; left:0; width:auto}#kyusyu .area_name,#kyusyu-list .area_name{background:#dc776f} #kyusyu-list-title{color:#dc776f}
.row.area_name{color:#FFF}
.bluetech{background:#eeffff}
.table.office_list{margin-top:10px}
.office_list_title{margin-top:20px}
.table.office_list, .table.office_list .cell{border:1px solid #CCC; border-collapse:collapse}
.table.office_list .cell{padding:10px}
.table.office_list .cell:nth-child(1){width:30%}
.table.office_list .cell:nth-child(2){width:40%}
.table.office_list .cell:nth-child(3){width:12%}
.table.office_list .cell:nth-child(4){width:12%}
.table.office_list .cell:nth-child(5){width:6%}
.table.office_list .cell a{display:block; text-align:center}.table.office_list .cell a span{display:none}
/*--CORPORATE--*/
#corporate-info{margin:20px 0}
#corporate-info, #corporate-info .cell{border:1px solid #CCC; border-collapse:collapse}
#corporate-info .cell{padding:10px}
#corporate-info .cell:first-child{background:#018ea0; color:#FFF; width:25%; font-weight:bold}
#corporate-info .cell img{display:block; margin-top:10px}
#corporate-plan .float_l, #corporate-plan .float_r{width:50%}
#corporate-plan iframe{width:100%}
#corporate-plan li{padding:10px 0 0 0 ; list-style:inside}
#corporate-plan li a{text-decoration:underline}

/**SEARCH CHECK BOX**/
#search-check-box{padding-bottom:10px; margin-bottom:20px; box-shadow: 0 3px 10px #dedede}
#search-check-box .content{padding:20px 0}
.search-check-selection{width:100%; margin:20px 0}
.selection_title{padding:5px 10px; color:#FFF; font-size:16px}
.check-selections{border:1px solid #CCC; padding:20px; background:#FFF}
.check-selections button{margin-top:20px}
.choice_area{padding:10px 20px}
.choices {padding:10px 20px}
.choices li{float:left; width:25%}
.search-hits{display:block; text-align:center}
.search-hits span{font-size:36px; color:red}
#search-head-num { margin:0; position:fixed; right:10px; top:70px; cursor:pointer; z-index:1; padding:5px 10px; background:#FFF; border:#CCC 1px solid}

/*--SEARCH RESULTS--*/
.search-results-pagination{margin:20px 0}
.search-results-pagination span.num{font-size: 36px; color: red; margin-right:5px}
span.more{margin-left:10px}
span.more a{color:#FFF;padding:5px 10px; display:inline-block; vertical-align:bottom}
span.more a:hover{background:rgba(0,0,0,.3)}
.pagination{margin-left:auto}
.pagination a,.pagination span{background:#00626e; color:#FFF; padding:10px 15px}
.pagination a.active,.pagination .current,.pagination a:hover{background:#003333}
.pagination a i{display:unset}
.searched-product{padding:10px; border:1px solid #CCC; background:#FFF; margin:10px 0}
.searched-product p{padding:0 0 5px; border-bottom: 2px dotted; margin-bottom:15px}
.searched_product_data{margin:0 0 10px; border-bottom:2px dotted; padding-bottom:5px}
.product_image{width:30%; align-self:flex-start}
.product_data{width:70%; margin-left:10px}
.product_detail dl{width:50%; margin:0 5px;align-self:flex-start}
.product_detail dt{display:block;width:35%;clear:left;float:left;text-align:center; margin-right:5%; font-size:0.8em; font-weight:bold; padding:5px 0; margin-bottom:10px}
.product_detail dd{display:block;width:60%;float:left; line-height:125%; padding:5px 0; margin-bottom:10px}
.product_data_content span.num {font-size:17px;font-weight:bold;color:red;margin-right:5px}
.product_data_unit .product_data_title{background:#60ba4e; color:#FFF}
.product_data_atch .product_data_title{background:#f5b32b; color:#FFF}
.product_data_lift .product_data_title{background:#4ecac9; color:#FFF}
.product_data_unit h2, .product_data_unit h3{color:#60ba4e; border-color:#60ba4e}
.product_data_atch h2, .product_data_atch h3{color:#f5b32b; border-color:#f5b32b}
.product_data_lift h2, .product_data_lift h3{color:#4ecac9; border-color:#4ecac9}
.product_data_unit p, .product_data_unit .searched_product_data{border-color:#60ba4e}
.product_data_atch p, .product_data_atch .searched_product_data{border-color:#f5b32b}
.product_data_lift p, .product_data_lift .searched_product_data{border-color:#4ecac9}
.searched-product h3{margin:0 10px 15px; border-bottom:2px dotted; padding-bottom:5px}
.product_contact{padding:10px}
.contact_info span{font-size:1em; vertical-align:middle}
.contact_info span.num{font-size:2em}
.contact_info i{margin:0 10px 0 20px; font-size:1.5em; vertical-align:middle; color:#00626e}
.product_see_more{margin-left:auto}.product_see_more a{color:#FFF; padding:5px 15px; display:block; text-align:center}.product_see_more a:hover{background:rgba(0,0,0,.3)}
/**-------------**/

/*--PURCHASE FLOW--*/
.unit_detail #purchase-flow{background-image:url(../images/unit_arrow.png)} .unit_detail #purchase-flow dt{background-color:#60ba4e}
.atch_detail #purchase-flow{background-image:url(../images/atch_arrow.png)} .atch_detail #purchase-flow dt{background-color:#f5b32b}
.lift_detail #purchase-flow{background-image:url(../images/lift_arrow.png)} .lift_detail #purchase-flow dt{background-color:#4ecac9}

#purchase-flow{background-size:stretch; background-size: contain; background-repeat: no-repeat; background-position:50px}
#purchase-flow dt, #purchase-flow dd{float:left; margin-bottom:20px; padding:10px; line-height:2em}
#purchase-flow dt{width:25%; clear:left; color:#FFF; margin-right:3%; text-align:center}
#purchase-flow dd{width:72%}
#purchase-flow dd img{max-width: 450px; width: 100%; margin: 20px auto 0 auto; display:block}

/*--INSTRATION FLOW--*/
#instration-flow{vertical-align:middle}
#instration-flow dt, #instration-flow dd{margin-bottom:20px; padding:10px; line-height:2em; vertical-align:middle; display:inline-block}
#instration-flow dt{width:25%; clear:left; color:#FFF; margin-right:2%; text-align:center}
#instration-flow dt img{width: 100%; margin: 0 auto; display:block}
#instration-flow dd{width:72%}

dl#law{padding:10px}
#law dt{font-weight:bold;font-size:18px; line-height:1.5em}
#law dd{margin-left:40px; margin-bottom:20px}
#law dd::before{font-family:Font Awesome\ 5 Free; content:'\f0a9'; font-weight: 900; margin-left: -30px; display: inline-block;float: left;}

/*--NEWS--*/
#news-arch-list{background:#FFF; padding:20px;line-height:1.25}
#news-list-sub{background:#FFF; padding:10px;line-height:1.25}
#news-arch-list li, #news-list-sub li{padding:5px 0 15px; font-size:14px; margin-bottom:10px; border-bottom:1px dotted #CCC}
#news-arch-list a, #news-list-sub a{text-decoration:underline}
#news-arch-list span.date, #news-list-sub span.date{display:block}
#news-publish-date{margin-bottom:20px}
#news-image img{max-width:100%}

/*--CONTACT--*/
#contact-form{margin:20px 0}
#contact-form, #contact-form .cell{border:1px solid #CCC; border-collapse:collapse}
#contact-form .cell{padding:10px}
#contact-form .cell:first-child{color:#FFF; width:25%; font-weight:bold; vertical-align: middle;}
#contact-form .cell img{display:block; margin-top:10px}
#contact-form .float_l, #corporate-plan .float_r{width:50%}
#contact-form iframe{width:100%}
#contact-form li{padding:10px 0 0 0 ; list-style:inside}
#contact-form li a{text-decoration:underline}
#contact-form.unit_form .cell:first-child{background:#60ba4e}
#contact-form.atch_form .cell:first-child{background:#f5b32b}
#contact-form.lift_form .cell:first-child{background:#4ecac9}
#contact-form.srsi_form .cell:first-child{background:#018ea0}

.cell input, .cell textarea{width:100%; font-size:16px; padding:5px}
.cell textarea{height:100px}
.cell input.short{width:auto}

.sitemap li{width:calc(33.3333% - 2em);float:left}
@media (min-width: 701px) {
/*--INDEX--*/
#search-box .content{padding:20px 0}

/*--PRODUCTS--*/
.search-selection, .search-button{display: block; width: 50%; margin: 0 auto;}
.search-selection select{display:inline-block;width:50%}
#key-visual .content{padding:20px 0}
#key-visual h1{font-size:36px; margin-top:100px; margin-bottom:10px}
#key-visual p{font-size:18px; margin-bottom:100px}
#recommend .content{padding:20px 0}

/*--SEARCH CHECK BOX--*/
#keyword-search-box{padding:10px 0; margin:20px 0}
/**------------------**/

}

@media screen and (max-width: 700px) {
/*--INDEX--*/
#key-visual{min-height:auto}
#key-visual-content h1{font-size:24px}
#key-visual-content p{padding-top:20px; font-size:16px}
#key-visual-content span{display:block}
#key-visual-content br{display:none}

#key-visual:before {background-size:cover;background-position:center;top:0;left:0;width:100%;height:100%;content:'';position: absolute}
.key-visual-text{width:100%; padding:0; text-align:center}

#key-visual.unit .key-visual-text{background:rgba(82,128,64,.7)}
#key-visual.atch .key-visual-text{background:rgba(165,126,52,.7)}
#key-visual.lift .key-visual-text{background:rgba(0,51,102,.7)}


.product_list_info_price{font-size:24px}
/*--PRODUCTS / EVENTS--*/
#search-box .content, #event .content{padding:10px}
.pulldown_menu{width:100%; float:none; margin:0}
#recommend h2,
#event h1{font-size:24px;padding:10px 0 20px}
.search-selection, .search-button{display:block;width:100%}
.search-selection select{display:inline-block;width:60%; font-size:18px}
.search-button{margin-top:10px}
#key-visual{background-position:bottom; padding:10px}
#key-visual .content{padding:0}
#key-visual h1{font-size:24px; padding-top:10px; margin-top:50px; margin-bottom:10px}
#key-visual p{font-size:16px; padding-bottom:10px; margin-bottom:50px}
.products{width:50%}

/*--OFFICE--*/
#map{background:none; height:auto; position:relative}
.map_links{position:initial; width:auto; margin-bottom:10px}
.map_links .area_name{font-size:1.2em}
.pref_box a{margin-right:10px; text-decoration:none}
.table.office_list{border-top:0}
.office_list .area_name:nth-child(1){display:none}
.table.office_list .cell{border:none; padding:0 10px}
.table.office_list .cell:nth-child(1){display:block;width:100%; border-top:1px solid #CCC; padding:5px 10px; font-weight:bold}
#touhoku-list .cell:nth-child(1){color:#51bdbd}
#kanto-list .cell:nth-child(1){color:#5eb14e}
#hokuriku-list .cell:nth-child(1){color:#5b4884}
#tokai-list .cell:nth-child(1){color:#b9c048}
#kinki-list .cell:nth-child(1){color:#ebad32}
#chugoku-list .cell:nth-child(1){color:#ec8941}
#kyusyu-list .cell:nth-child(1){color:#dc776f}
.table.office_list .cell:nth-child(2){display:block;width:100%; font-size:.9em; color:#999}
.table.office_list .cell:nth-child(3){display:inline-block; width:auto; font-size:.9em; color:#999}
.table.office_list .cell:nth-child(4){display:inline-block; width:auto; font-size:.9em; color:#999}
.table.office_list .cell:nth-child(3)::before,
.table.office_list .cell:nth-child(4)::before {content: attr(label);float:left;margin-right:5px; clear:both}
.table.office_list .cell:nth-child(5){display:inline-block;width:100%}
.table.office_list .cell a{text-align:left}
.table.office_list .cell a span{display:inline-block}
/*--CORPORATE--*/
#corporate-info .cell:first-child, #corporate-info .cell{display:block; width:100%; border:0}
#corporate-info .cell:last-child{font-size:.9em}
#corporate-plan .float_l, #corporate-plan .float_r{width:100%; margin-bottom:30px}

/*--PRODUCT DETAIL--*/
#product-detail .content{padding:10px}
#product-detail .content.flex{display:block}
.product_detail_price_box, #product_detail_contact_box {padding:10px}
#product-image-box,
#product-data{width:100%; float:none; margin:0}
#produt-thumbnails div{width:25%}
.product_detail_price, .product_detail_data, .product_detail_data dl{width:100%; margin:0}
.product_detail_data dd{width:60%;margin-right:0}
#icons{float:none}
.product_detail_data dd.tel a{font-size:24px}
.youtube {position:relative;padding-bottom:56.25%;height:0;overflow:hidden}
.youtube iframe{position: absolute;top:0;left:0;width:100%;height:100%}

#misc ol li span.title{line-height:1.5em; padding-bottom:.5em}
#misc .install{width:100%; float:none; margin-bottom:20px}
#misc .install img{width:100%;}
#misc #contact-box{padding:20px}

table.faq  tr {display:block; width:100%}
table.faq td {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:100%;border-width:1px 0 0 0}
table.faq td.symptom, table.faq td.question {width:100%}
table.faq td.answer {padding:0 20px 10px 20px;border-top:none;width:100%}

#misc ul.faq_detail > li{margin-left:0; list-style:none}

/*--SEARCH CHECK BOX--*/
#keyword-search-box{padding:10px}
.search-check-selection{padding:0 10px}
.choices li{float:none; width:100%}
#search-head-num{font-size:12px}
#search-head-num .search-hits span{font-size:18px}

/*--SEARCH RESULTS--*/
.search-results-pagination .content.flex, .hits.flex{display:unset}
.hits{text-align:center}
span.more{display:block; margin:5px 10px}
span.more a{display:block}
.pagination{margin:0 auto; text-align:center}
.pagination a{display:none}
.pagination a.prev,.pagination a.active,.pagination .current,.pagination a.next{display:inline-block}
.search-results-pagination{margin:20px 0 0 0}
.product_name{display:block}
.product_data{margin:0}
.product_detail{margin:10px 0}
.product_detail dl{width:100%}
.searched_product_data.flex, .product_detail.flex, .product_contact.flex{display:block}
.product_image, .product_data{width:100%}
.contact_info span.contact{display:block;font-size:1em}
.contact_info i{vertical-align:sub; margin:-0 5px}
.product_see_more{margin-top:10px}

/*--PURCHASE FLOW--*/
#purchase-flow{background-position:center}
#purchase-flow dt, #purchase-flow dd{float:none;width:100%;margin-right:0} 
#purchase-flow dd img{margin-bottom:100px}

/*--INSTRATION FLOW--*/
#instration-flow dt, #instration-flow dd{display:block}
#instration-flow dt{width:100%; margin-right:0%}
#instration-flow dd{width:100%; line-height:1.5em}


.sitemap li{width:100%;float:none}
}

@media (max-width: 414px) {
.products{width:100%}
}
