@charset "UTF-8";

#product-detail{background:#FFF}
#product-detail .content{padding:20px 10px}
#product-detail .content.content_s{padding:10px}
#icons{float:right}
#product-border{border-bottom-width:3px; border-bottom-style:solid}

.unit_detail .txt{color:#60ba4e} .unit_detail .box{background:#60ba4e; color:#FFF} .unit_detail .border{border-color:#60ba4e}
.atch_detail .txt{color:#f5b32b} .atch_detail .box{background:#f5b32b; color:#FFF} .atch_detail .border{border-color:#f5b32b}
.lift_detail .txt{color:#5f4b8b} .lift_detail .box{background:#5f4b8b; color:#FFF} .lift_detail .border{border-color:#5f4b8b}

.product_detail_price{width:45%;align-self:flex-start; margin-right:5%}
.product_detail_data{width:50%;align-self:flex-start}
.product_detail_price_box, #product_detail_contact_box{padding:20px; border-width:10px; border-style:solid}
.product_detail_price .title{display:block}
.product_detail_price .price{display:block; float:right}
.product_detail_price .num{font-size:48px;color:red;margin-right:10px}
.product_detail_price .misc{display:block;padding: 10px}
.product_detail_data dl{width:100%; margin:0 5px;align-self:flex-start}
.product_detail_data dt{display:block;width:35%;clear:left;float:left;text-align:center; margin-right:5%; font-size:0.8em; font-weight:bold; padding:5px 0; margin-bottom:10px}
.product_detail_data dd{display:block;width:60%;float:left; line-height:125%; padding:5px 0; margin-bottom:10px}
.product_detail_data dd.tel{padding:0}.product_detail_data dd.tel a{color:red}
#product-detail h3{margin:0;border-bottom-width:2px;border-bottom-style:dotted;padding-bottom: 5px}
.youtube{text-align:center;margin-top:20px}
.panorama{margin-top:20px}



@media (max-width: 700px) {
#product-detail .content{padding:10px}
#product-detail .content.flex{display:block}
.product_detail_price, .product_detail_data, .product_detail_data dl{width:100%; margin:0}
#icons{float:none}
.product_detail_data dd.tel a{font-size:30px}
.youtube {position:relative;padding-bottom:56.25%;height:0;overflow:hidden}
.youtube iframe{position: absolute;top:0;left:0;width:100%;height:100%}
}
