@charset "UTF-8";

.search-check-box{}

.search-results-pagination{margin:20px 0}
.search-results-pagination span.num{font-size: 36px; color: red; margin-right:5px}
span.more{margin-left:10px}
span.more a{color:#FFF;padding:5px 10px; display:inline-block; vertical-align:bottom}
span.more a:hover{background:rgba(0,0,0,.3)}
.pagination{margin-left:auto}
.pagination a{background:#00626e; color:#FFF; padding:10px 15px}
.pagination a.active, .pagination a:hover{background:#003333}
.pagination a i{display:unset}

.searched-product{padding:10px; border:1px solid #CCC; background:#FFF; margin:10px 0}
.searched-product p{padding:0 0 5px; border-bottom: 2px dotted; margin-bottom:15px}
.searched_product_data{margin:0 0 10px; border-bottom:2px dotted; padding-bottom:5px}
.product_image{width:40%; align-self:flex-start}
.product_data{width:60%; margin-left:10px}
.product_detail dl{width:50%; margin:0 5px;align-self:flex-start}
.product_detail dt{display:block;width:35%;clear:left;float:left;text-align:center; margin-right:5%; font-size:0.8em; font-weight:bold; padding:5px 0; margin-bottom:10px}
.product_detail dd{display:block;width:60%;float:left; line-height:125%; padding:5px 0; margin-bottom:10px}

.product_data_content span.num {font-size:36px;color:red;margin-right:5px}
.product_data_unit .product_data_title{background:#60ba4e; color:#FFF}
.product_data_atch .product_data_title{background:#f5b32b; color:#FFF}
.product_data_lift .product_data_title{background:#5f4b8b; color:#FFF}
.product_data_unit h2, .product_data_unit h3{color:#60ba4e; border-color:#60ba4e}
.product_data_atch h2, .product_data_atch h3{color:#f5b32b; border-color:#f5b32b}
.product_data_lift h2, .product_data_lift h3{color:#5f4b8b; border-color:#5f4b8b}
.product_data_unit p, .product_data_unit .searched_product_data{border-color:#60ba4e}
.product_data_atch p, .product_data_atch .searched_product_data{border-color:#f5b32b}
.product_data_lift p, .product_data_lift .searched_product_data{border-color:#5f4b8b}
.searched-product h3{margin:0 10px 15px; border-bottom:2px dotted; padding-bottom:5px}

.product_contact{padding:10px}
.contact_info span{font-size:1.4em; vertical-align:middle}
.contact_info i{margin:0 10px 0 20px; font-size:1.5em; vertical-align:middle; color:#00626e}
.product_see_more{margin-left:auto}.product_see_more a{color:#FFF; padding:5px 15px; display:block; text-align:center}.product_see_more a:hover{background:rgba(0,0,0,.3)}

@media (max-width: 700px) {
.search-results-pagination .content.flex, .hits.flex{display:unset}
.hits{text-align:center}
span.more{display:block; margin:5px 10px}
span.more a{display:block}
.pagination{margin:0 auto; text-align:center}
.pagination a{display:none}
.pagination a.prev,.pagination a.active,.pagination a.next{display:inline-block}
.search-results-pagination{margin:20px 0 0 0}
.product_name{display:block}
.product_data{margin:0}
.product_detail{margin:10px 0}
.product_detail dl{width:100%}
.searched_product_data.flex, .product_detail.flex, .product_contact.flex{display:block}
.product_image, .product_data{width:100%}
.contact_info span.contact{display:block}
.contact_info i{vertical-align:bottom; margin:0 5px}
.product_see_more{margin-top:10px}
}
