@charset "UTF-8";

#search-check-box{padding-bottom:10px; margin-bottom:20px; box-shadow: 0 3px 10px #dedede}
#search-check-box .content{padding:20px 0}
.search-check-selection{width:100%; margin:20px 0}
.selection_title{padding:5px 10px; color:#FFF; font-size:16px}
.check-selections{border:1px solid #CCC; padding:20px; background:#FFF}
.check-selections button{margin-top:20px}
.choice_area{padding:10px 20px}
.choices {padding:10px 20px}
.choices li{float:left; width:25%}

.search-hits{display:block; text-align:center}
.search-hits span{font-size:36px; color:red}

#search-head-num { margin:0; position:fixed; right:10px; top:70px; cursor:pointer; z-index:1; padding:5px 10px; background:#FFF; border:#CCC 1px solid}

@media (min-width: 701px) {

#keyword-search-box{padding:10px 0; margin:20px 0}



}
@media (max-width: 700px) {

#keyword-search-box{padding:10px}
.search-check-selection{padding:0 10px}
.choices li{float:none; width:100%}

#search-head-num{font-size:12px}
#search-head-num .search-hits span{font-size:18px}


}

